body {
    padding-top: 70px;
    margin-bottom: 15px;
}

footer {
    margin-top: 15px;
}

section.main-image-list > div.row > div {
    padding: 10px 3px;
}


/* override bootstrap */
img.img-thumbnail {
    border: 0;
}