body {
    padding-top: 70px;
    margin-bottom: 15px;
    font-family: Helvetica, Arial, Verdana, Sans-Serif; 
}

footer {
    margin-top: 15px;
}

section.main-image-list > div.row > div {
    padding: 10px 3px;
}

/* menu */
nav#menu {
    font-weight: bold;
}

/* override bootstrap */
img.img-thumbnail {
    border: 0;
}