body {
    font-family: Helvetica,Arial,Verdana,Sans-Serif;
    margin: 20px auto 2px auto ;
    width: 1024px;
}

body > div#page {    
    text-align: center;
}

/* links */
a:active, a:focus {
    outline: 0
}
a:link, a:visited {
    color:#777;
    text-decoration:none;
}
a:hover, a:focus {
    color: rgb(51,122,183);
    text-decoration: none;
}

/* menu */
div.title {
    float: left;
    text-align:left;
    font-size: 20px;
    font-weight: bold;
}
div.titlemenu {
    float: right;
    text-align:right;
    font-size: 14px;
    font-weight: bold;
}

div.titlemenu > a {
    padding-left: 20px;
}